@import 'normalize';
@import 'settings';
@import 'foundation';

// Components
@import 'components/post';
@import 'components/select-menu';

table {
  width: 100%;
}

pre code {
  display: block;
}

.accept-answer {
  position: absolute;
  top: 48px;
  left: 0;
  width: 48px;
  text-align: center;
  font-size: 48px;

 > * {
    color: #ccc;

    &:hover, &.is-accepted {
      color: green;
    }

    &.is-accepted:hover {
      color: red;
    }
  }
}

.wuphf-message {
  @extend .alert-box;

  &.danger {
    @extend .alert;
  }
}
