<h1 id="help">Help</h1>
<h2 id="how-do-i-ask-a-good-question-">How do I ask a good question?</h2>
<p>We'd love to help you. To improve your chances of quickly getting an answer, here are
some tips:</p>
<h3 id="search-and-research">Search, and research</h3>
<p>...and keep track of what you find. Even if you don't find a useful answer
elsewhere on the site, including links to related questions that haven't helped
can help others in understanding how your question is different from the rest.</p>
<h3 id="write-a-title-that-summarizes-the-specific-problem">Write a title that summarizes the specific problem</h3>
<p>The title is the first thing potential answerers will see, and if your title
isn't interesting, they won't read the rest. So make it count:</p>
<ul>
<li><p>Pretend you're talking to a busy colleague and have to sum up your entire
question in one sentence: what details can you include that will help someone
identify and solve your problem? Include any error messages, key APIs, or
unusual circumstances that make your question different from similar questions
already on the site.</p>
</li>
<li><p>Spelling, grammar and punctuation are important! Remember, this is the first
part of your question others will see - you want to make a good impression.</p>
</li>
<li><p>If you're having trouble summarizing the problem, <strong>write the title <em>last</em></strong> -
sometimes writing the rest of the question first can make it easier to describe
the problem.</p>
</li>
</ul>
<h3 id="introduce-the-problem-before-you-post-any-code">Introduce the problem before you post any code</h3>
<p>In the body of your question, start by expanding on the summary you put in the
title. Explain how you encountered the problem you're trying to solve, and any
difficulties that have prevented you from solving it yourself. The first
paragraph in your question is the second thing most readers will see, so make
it as engaging and informative as possible.</p>
<h3 id="help-others-reproduce-the-problem">Help others reproduce the problem</h3>
<p>Not all questions benefit from including code, but if your problem is with code
you've written, you should include some.</p>
<p>Here are some guidelines:</p>
<ul>
<li>Include just enough code to allow others to reproduce the problem. For help
with this, read <a href="http://stackoverflow.com/help/mcve">How to create a Minimal, Complete, Valid
Example</a>.</li>
<li>If it is possible to create a live example of the problem that you can link
to (for example, on <a href="http://sqlfiddle.com/">http://sqlfiddle.com/</a> or <a href="http://jsbin.com/">http://jsbin.com/</a>) then do so -
but also include the code in your question itself. Not everyone can access
external sites, and the links may break over time.</li>
</ul>
<h3 id="proof-read-before-posting-">Proof-read before posting!</h3>
<p>Now that you're ready to ask your question, take a deep breath and read through
it from start to finish. Pretend you're seeing it for the first time: does it
make sense? Try reproducing the problem yourself, in a fresh environment and
make sure you can do so using only the information included in your question.
Add any details you missed and read through it again. Now is a good time to
make sure that your title still describes the problem!</p>
<h3 id="post-the-question-and-respond-to-feedback">Post the question and respond to feedback</h3>
<p>After you post, leave the question open in your browser for a bit, and see if
anyone comments. If you missed an obvious piece of information, be ready to
respond by editing your question to include it. If someone posts an answer, be
ready to try it out and provide feedback!</p>
<h3 id="look-for-help-asking-for-help">Look for help asking for help</h3>
<p>In spite of all your efforts, you may find your questions poorly-received.
Don't despair! Learning to ask a good question is a worthy pursuit, and not one
you'll master overnight.</p>
<p>Here are some additional resources that you may find useful:</p>
<ul>
<li><a href="http://codeblog.jonskeet.uk/2010/08/29/writing-the-perfect-question/">Writing the perfect question</a></li>
<li><a href="http://www.catb.org/~esr/faqs/smart-questions.html">How to ask questions the smart way — long but good advice</a></li>
</ul>

<i>Thanks to <a href="http://stackoverflow.com/">Stack Overflow</a> for most of these ideas.</i>
