<div class="comment-form">
  {{#form-for controller}}
    <div class="row">
      <div class="small-12 columns">
        {{input body as="text"}}
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        {{submit 'Save' class='button success expand'}}
      </div>
      <div class="small-6 columns">
        <button class="button secondary expand "{{action 'cancel'}}>Cancel</button>
      </div>
    </div>
  {{/form-for}}
</div>
